# LDA - Linear Discriminant Analysis

- Linear Discriminant Analysis (LDA) is a **supervised** dimensionality reduction method
- It is commonly used for classification tasks
- LDA project data into a lower-dimensional space while maximizing class separability
- It finds finding **linear** combinations of features that best separate classes

## Let's start (loading the data)

We will perform classification on penguin measurements, collected by Kristen Gorman (https://www.uaf.edu/cfos/people/faculty/detail/kristen-gorman.php). Since we already installed the package containing the data set by running `pip install -r requirements.txt`, we can just load it.

In [6]:
from palmerpenguins import load_penguins
pingus = load_penguins()
pingus

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

ðŸ¤” Now look at the table above. Do you see any issue with the data?

ðŸ’¡ There are `NaN` values in the data, we can remove them using `pingus = pingus.dropna()`.

In [7]:
pingus = pingus.dropna()

Next, let's check out some summary statistics of the data we just loaded to get a feeling for it.

In [9]:
pingus.describe(include='object')

       species  island   sex
count      333     333   333
unique       3       3     2
top     Adelie  Biscoe  male
freq       146     163   168